In [14]:
import pandas as pd

csv_file_path = '/Users/tohyuheng/development/sg-bus-prediction/data-retriever/data/temp.csv'

#NEW API SCHEMA 2021
#Origin, Destination, ETA, Lat, Long, Visit Number, Load, Feature, Type, Current Stop, Next Stop, Service, Current Time
new_col =  ['origin', 'dest', 'eta', 'lat', 'long', 'visit_num', 'load', 'feature', 'type', 'current_stop',
              'next_stop', 'service', 'current_time']

#OLD API SCHEMA 2019
#Origin, ETA, Feature, Latitude, Load, Longitude, Destination, Type, Visit Number, Current Stop, Next Stop, Service, Current Time
old_col = ['origin', 'eta', 'feature', 'lat', 'load', 'long', 'dest', 'type', 'visit_num','current_stop',
                          'next_stop', 'service', 'current_time']

df = pd.read_csv(csv_file_path, index_col=False,
                 names = new_col)

In [15]:
df = df.dropna()
df.head()

,origin,dest,eta,lat,long,visit_num,load,feature,type,current_stop,next_stop,service,current_time
0,46009,46009,2021-08-26T12:47:00+08:00,0.000000,0.000000,1,SEA,WAB,DD,46009,46271.0,903,2021-08-26 12:42:57.659387+08:00
1,46009,46009,2021-08-26T12:41:42+08:00,1.439681,103.787381,1,SEA,WAB,DD,46271,46301.0,903,2021-08-26 12:42:57.697019+08:00
2,46009,46009,2021-08-26T12:43:05+08:00,1.439681,103.787381,1,SEA,WAB,DD,46301,46311.0,903,2021-08-26 12:42:57.723814+08:00
3,46009,46009,2021-08-26T12:44:08+08:00,1.439681,103.787381,1,SEA,WAB,DD,46311,46249.0,903,2021-08-26 12:42:57.758188+08:00
4,46009,46009,2021-08-26T12:41:25+08:00,1.442255,103.778687,1,SEA,WAB,DD,46249,46179.0,903,2021-08-26 12:42:57.794202+08:00

In [16]:
#Convert to datetime
df['eta'] = pd.to_datetime(df['eta'])
df['current_time'] = pd.to_datetime(df['current_time'])

#Convert to Integer
df['current_stop'] = df['current_stop'].astype(int)
df['next_stop'] = df['next_stop'].astype(int)

In [17]:
#Calculate Duration Column
df['duration'] = df['eta'] - df['current_time']
df['duration_seconds'] = df['duration'].dt.total_seconds()
df.head()

,origin,dest,eta,lat,long,visit_num,load,feature,type,current_stop,next_stop,service,current_time,duration,duration_seconds
0,46009,46009,2021-08-26 12:47:00+08:00,0.000000,0.000000,1,SEA,WAB,DD,46009,46271,903,2021-08-26 12:42:57.659387+08:00,0 days 00:04:02.340613,242.340613
1,46009,46009,2021-08-26 12:41:42+08:00,1.439681,103.787381,1,SEA,WAB,DD,46271,46301,903,2021-08-26 12:42:57.697019+08:00,-1 days +23:58:44.302981,-75.697019
2,46009,46009,2021-08-26 12:43:05+08:00,1.439681,103.787381,1,SEA,WAB,DD,46301,46311,903,2021-08-26 12:42:57.723814+08:00,0 days 00:00:07.276186,7.276186
3,46009,46009,2021-08-26 12:44:08+08:00,1.439681,103.787381,1,SEA,WAB,DD,46311,46249,903,2021-08-26 12:42:57.758188+08:00,0 days 00:01:10.241812,70.241812
4,46009,46009,2021-08-26 12:41:25+08:00,1.442255,103.778687,1,SEA,WAB,DD,46249,46179,903,2021-08-26 12:42:57.794202+08:00,-1 days +23:58:27.205798,-92.794202

In [18]:
#Feature embedding for current and next stop pairs

df['concat_stop'] = df['current_stop'].astype(str) + df['next_stop'].astype(str)

stop_pairs = list(df['concat_stop'].unique())

print(len(stop_pairs))

21

In [19]:
def create_stop_pair_embedding(df, stop_pairs):
    
    embeddings = []
    
    for i, row in df.iterrows():
        index = stop_pairs.index(row['concat_stop'])
        embeddings.append(index)
    
    return embeddings

embeddings = create_stop_pair_embedding(df, stop_pairs)

print(len(embeddings))

1911

In [25]:
#Aggregate current_time field into 10-mins buckets

import datetime

#Create dictionary of time buckets <(t1, t2) : embedding>
def create_buckets(start_time, end_time):
    buckets = {}
    count = 0
    current = start_time
    
    while current < end_time:
        #print(current)
        #print(count)
        next_bucket = current + datetime.timedelta(minutes = 10)
        buckets[(current, next_bucket)] = count
        current = next_bucket
        count += 1
        
    return buckets

start_time = datetime.datetime.fromisoformat('2021-08-26T05:20:00')
        
end_time = datetime.datetime.now() + datetime.timedelta(hours = 11)

buckets = create_buckets(start_time, end_time)

print(len(buckets))

121

In [21]:

def embed_current_time(df, buckets):
    time = []
    
    for i, row in df.iterrows():
        current_time = row['current_time']
        #print(current_time.time())
        for key in buckets.keys():
            #print(key[0].time())
            #print(key[1].time())
            if current_time.time() > key[0].time() and current_time.time() < key[1].time():
                #print(buckets[key])
                time.append(buckets[key])
                break
                
    return time

embed_time = embed_current_time(df, buckets)
print(len(embed_time))

1911

In [22]:
df['embed_time'] = embed_time

df.head()

,origin,dest,eta,lat,long,visit_num,load,feature,type,current_stop,next_stop,service,current_time,duration,duration_seconds,concat_stop,embed_time
0,46009,46009,2021-08-26 12:47:00+08:00,0.000000,0.000000,1,SEA,WAB,DD,46009,46271,903,2021-08-26 12:42:57.659387+08:00,0 days 00:04:02.340613,242.340613,4600946271,61
1,46009,46009,2021-08-26 12:41:42+08:00,1.439681,103.787381,1,SEA,WAB,DD,46271,46301,903,2021-08-26 12:42:57.697019+08:00,-1 days +23:58:44.302981,-75.697019,4627146301,61
2,46009,46009,2021-08-26 12:43:05+08:00,1.439681,103.787381,1,SEA,WAB,DD,46301,46311,903,2021-08-26 12:42:57.723814+08:00,0 days 00:00:07.276186,7.276186,4630146311,61
3,46009,46009,2021-08-26 12:44:08+08:00,1.439681,103.787381,1,SEA,WAB,DD,46311,46249,903,2021-08-26 12:42:57.758188+08:00,0 days 00:01:10.241812,70.241812,4631146249,61
4,46009,46009,2021-08-26 12:41:25+08:00,1.442255,103.778687,1,SEA,WAB,DD,46249,46179,903,2021-08-26 12:42:57.794202+08:00,-1 days +23:58:27.205798,-92.794202,4624946179,61